{
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": false,
	"semi": true,
	"experimentalTernaries": false,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": false,
	"proseWrap": "preserve",
	"insertPragma": false,
	"printWidth": 80,
	"requirePragma": false,
	"tabWidth": 2,
	"useTabs": true,
	"embeddedLanguageFormatting": "auto",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"interface",
		"(?=content|api)",
		"context/",
		"mock/",
		"config",
		"utils/",
		"hooks/",
		"(components/|./index)",
		".svg",
		"^../(.*)$",
		"(?=./styles.module.scss)"
	]
}
